@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@{
    Model.LoadToPhilosophy();
}
<p>@Model.ToPhilosophy.Count</p>
<p>Loops - @Model.getNumOfLoops()</p>
<p>To Philosophy - @Model.getNumToPhilosophy().Item1</p>
<p>Average depth - @Model.getNumToPhilosophy().Item2</p>
<p>UnProcessed - @Model.getNumUnProcessed()</p>
